<doctype!html lang="en">
    <title></title>
    <head></head>
    <body>
        <main>
            <div>
                <h1>Login</h1>
                <form action="" method="post">
                    username: <input type="text" name="username"/><br/>
                    password: <input tpye="password" name="password"/><br/>
                    <button>Login</button>
                </form>
            </div>
        </main>
    </body>
</doctype!html>