<doctype! html lang="en">
    <title></title>
    <head></head>
    <body>
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">\
                    Username: <input type="text", name="username"/> Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only<br/>
                    Password: <input type="password", name="password1"/><br/>
                    <ul>
                        <li>Your password can't be too similar to your other personal iinformation.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                    Password confirmation: <input type="password", name="password2"/> Enter the same password as before, for verification.<br/>
                    <button>Signup</button>
                </form
            </div>
        </main>
    </body>
</doctype!>